<div class="admin-shell" [class.admin-shell--collapsed]="showAside === false">
  <aside class="admin-sidebar" [class.admin-sidebar--collapsed]="showAside === false">
    <button
      class="admin-sidebar__toggle"
      type="button"
      (click)="showAsideChanger()"
      [attr.aria-expanded]="showAside"
      aria-controls="adminSidebarPanel"
      [attr.aria-label]="
        showAside ? 'Ocultar menú de administración' : 'Mostrar menú de administración'
      "
    >
      @if (showAside === false) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-right-fill d-none d-md-block"
        viewBox="0 0 16 16"
        aria-hidden="true"
      >
        <path
          d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-down-fill d-block d-md-none"
        viewBox="0 0 16 16"
        aria-hidden="true"
      >
        <path
          d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
        />
      </svg>
      } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-left-fill d-none d-md-block"
        viewBox="0 0 16 16"
        aria-hidden="true"
      >
        <path
          d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-up-fill d-block d-md-none"
        viewBox="0 0 16 16"
        aria-hidden="true"
      >
        <path
          d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
        />
      </svg>
      }
    </button>

    @if (showAside === true) {
    <div id="adminSidebarPanel" class="admin-sidebar__panel">
      <h2>Panel de administración</h2>
      <ul class="admin-sidebar__nav">
        <li>
          <a href="" [routerLink]="['/admin/we']"> Nosotros </a>
        </li>
        <li>
          <a href="/admin/configuraciones" [routerLink]="['/admin/configuraciones']">
            Configuraciones
          </a>
        </li>
        <li>
          <a href="/admin/uso" [routerLink]="['/admin/uso']"> Uso y costos </a>
        </li>
        <li>
          <a href="/admin/archivos" [routerLink]="['/admin/archivos']"> Archivos </a>
        </li>
        <li>
          <a href="/admin/usuarios/nuevo" [routerLink]="['/admin/usuarios/nuevo']">
            Crear usuario
          </a>
        </li>
        @if (casesFeatureEnabled()) {
        <li>
          <a href="/admin/casos" [routerLink]="['/admin/casos']" data-testid="admin-cases-link">
            Casos
          </a>
        </li>
        }
        <li>
          <a href="/admin/publications" [routerLink]="['/admin/publications']"> Publicaciones </a>
        </li>
        <li>
          <a href="/admin/publication" [routerLink]="['/admin/publication']">
            Crear nueva publicación
          </a>
        </li>
        <li>
          <a href="/admin/soluciones" [routerLink]="['/admin/soluciones']"> Soluciones </a>
        </li>
        <li>
          <a href="/admin/solucion" [routerLink]="['/admin/solucion']"> Crear nueva solución </a>
        </li>
        <li>
          <a href="/admin/blog" [routerLink]="['/admin/blog']"> Blog </a>
        </li>
        <li>
          <a href="/admin/articulo" [routerLink]="['/admin/articulo']"> Crear nuevo artículo </a>
        </li>
        <li>
          <a
            href="/cambiar-contrasena"
            [routerLink]="['/cambiar-contrasena']"
            class="admin-menu__logout"
            data-testid="admin-change-password-link"
          >
            Cambiar contraseña
          </a>
        </li>
        <li>
          <button
            type="button"
            class="admin-menu__logout"
            data-testid="admin-logout"
            (click)="logout()"
          >
            Cerrar sesión
          </button>
        </li>
      </ul>
    </div>
    }
  </aside>

  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>
